matplotlib
wandb
openmim
albumentations
lightning
python-dotenv
numpy
prettytable
codecov
flake8
ftfy
interrogate
isort==4.3.21
pytest
regex
xdoctest>=0.10.0
torch==2.1.0
torchaudio==2.1.0
torchmetrics==1.3.2
torchvision==0.16.0
yapf
